
.hero__btn{
    margin: 0 1rem;
}

.signin-btn {
    width: 100%;
    text-align: center;
}

.btn-like p{
    font-size: var(--font-size-md);
    top: -2px;
    color: var(--light-color);
}


.btn-bbs{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-md);
    border: none;
    color: var(--light-color);
    height: 12px;
    width: 41px;
    left: 45px;
    top: 20px;
}

.pick{
    margin: 0 0.5rem;
    border-color: var(--light-color);
}

.btn-like{
    background-color: var(--dark-color);
    margin-right: 10px;
    display: flex;
    position: relative;
    flex-direction: row;
    border: none;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 13px;
}

.btn-like:hover{
    background-color: var(--dark-color);
}

.btn-navbar{
    color: var(--light-color);
    border-radius: var(--border-radius-3xl);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    margin: 2px;
}

.live-btn{
    position: relative;
    left: 65px;
    top: -30px;
    width: 90px;
    height: 18px;
    font-size: medium;
}

.social-btn{
    margin: 15px 5px;
    background-color: var(--secondary-color);
    width: 12px;
}

.back-btn{
    background: rgba(0,0,0,0.6);
}
.profle-btn{
    border-color: var(--light-color);
}

.profle-btn:hover{
    background-color: var(--secondary-color);
}

.btn-socailmedia{
    background-color: var(--primary-color);
    font-size: small;
    width: auto;
    padding: 8px;border: solid;
    border-color: var(--primary-color);
}

.btn-socailmedia:hover{
    border: solid;
    border-color: var(--primary-color);
    transition: all .3s ease;
    -webkit-transition: all 0.5s ease;
    background: transparent;
    box-shadow: inset 1 1 0.2rem var(--primary-color);
}