.signin__wrapper{
    margin: 100px 100px;
}

#signin-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.div{
    margin-top: 15px;
}

.signin-images{
    height: 100%;
    display: flex;
}

.fields{
    display: flex;
    flex-direction: column;
}

.signin-field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: var(--font-size-3xl);
}

.filed-input {
    background-color: var(--dark-color);
    border-color: var(--light-color);
    border-radius: var(--border-radius-sm);
    border-width: 1px;
    width: 30rem;
    height: 3.3rem;
}


.username-msg, .password-msg {
    font-size: var(--font-size-md);
    color: var(--light-color);
    display: inline-block;
    height: 25px;
}

.Create{
    cursor: pointer;
    color: var(--primary-color);
    font-size: var(--font-size-md);
}

.Create:hover{
    color: var(--accent-color);
}

.signin-field p{
    color: var(--light-color);
}

.or{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: var(--font-size-md);
    justify-content: center;
    align-items: center;
}

.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-btn{
    margin: 15px 5px;
    background-color: var(--secondary-color);
    width: 12px;
}