.login-page{ 
    margin: 0px;
    padding: 0px;
    background-image: url(./../../images/logIn/login.jpg);
    -webkit-background-size: cover;
    background-size:cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.field__wrapper{
    width: 500px;
    margin: 30px auto 0;
    background: rgba(0,0,0,0.6);
    align-items: center;
    padding: 35px;
    border: 3px solid #fff;
    border-radius: 70px 0;
    display: flex;
    flex-direction: column;
}

.div{
    margin-top: 15px;
}

.fields{
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: var(--font-size-3xl);
}

.filed-input {
    margin-top: 3px;
    background-color: black;
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--secondary-color);
    width: 28rem;
    height: 4.6rem;
}


.username-msg, .password-msg {
    font-size: var(--font-size-md);
    display: inline-block;
    height: 25px;
}

.Create{
    cursor: pointer;
    color: var(--primary-color);
    font-size: var(--font-size-md);
}

.Create:hover{
    color: var(--accent-color);
}

.or{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: var(--font-size-md);
    justify-content: center;
    align-items: center;
}

.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}