#signin-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 100px 0px 0px;
}

.signin-images img{
    height: 605px;
    width: 800px;
}

.fields{
    display: flex;
    flex-direction: column;
}

.div{
    margin-top: 20px;
}

.signin-field{
    position: relative;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: var(--font-size-lg);
}

.filed-input {
    background-color: var(--dark-color);
    border-color: var(--light-color);
    border-radius: var(--border-radius-sm);
    border-width: 1px;
    width: 30rem;
    height: 3.3rem;
}


.username-msg, .password-msg {
    font-size: var(--font-size-md);
    color: var(--light-color);
    display: inline-block;
    height: 25px;
}

.Create{
    color: var(--primary-color);
    font-size: var(--font-size-sm);
}

.signin-field p{
    color: var(--light-color);
}
.or{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: var(--font-size-sm);
    justify-content: center;
    align-items: center;
}

.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
