#header{
    min-height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--dark-color);
}
.navbar__item--details{
    background-image: url(./../../images/header/bg.jpg);
    z-index: 999;
    color: var(--light-color);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list__items{
    
}

.item-nav{
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar--wrapper{
    position: fixed;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom-color: var(--light-color);
    color: var(--light-color);
    border-bottom-style:double;
    z-index: 999;
}

.navbar__nav--list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--dark-color);
}

.navbar-logo img{
    size: 3px;
    margin: 0 50px;
}
 

.navbar-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--light-color);
    align-items: center;
}

.navbar__wallet{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-navbar{
    color: var(--light-color);
    border-radius: var(--border-radius-3xl);
    border: none;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
}

.navbar__switch{
    margin-right: 50px;
}

.navbar a {
  float: left;
  font-size: var(--font-size-md);
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item-link {
    width: 90px;
    padding: 1rem;
    position: relative;
    color: var(--light-color);
}

.item--details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
}

.item--details p{
    color: gray;
}

.item--details span{
    color: var(--light-color);
}