.header{
  min-width: 40rem;
}
.header-wrapper{
    min-height: 10vh;
    margin: 15px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 40rem;
    align-items: center;
    background: transparent;
    border-bottom-color: var(--light-color);
    color: var(--light-color);
    border-bottom-style: solid;
    z-index: 999;
}



.sticky-nav{
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--dark-color);
  position: fixed;
  top: 10px;
  left: 0px;
  right: 0px;
  border-radius: var(--border-radius-3xl);
  border-bottom: none;
  transition: all 0s ease-in-out;
  box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
  -webkit-box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
  transform: translateY(-2rem);
}

.nav-lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.nav-list {
    margin: 1rem;
    
}

.nav-list:hover .dropdown-home{
  display: block;
}
.nav-link {
    color: var(--light-color);
    font-weight: 700;
}
/* .fa-angle-down  {
    margin-left: 0.2rem;
} */
.dropdown-home {
  display: none;
  position: absolute;
  min-width: 18rem;
  z-index: 1000;
  background-color: var(--light-color);
  border-radius: 0.5rem;
  
}
.dropdown-home a {
  float: left;
  padding: 1.5rem 1.6rem;
  display: block;
  color: var(--dark-color);
  font-weight: 500;
  transition: all 0.3s ease;
  
}

.dropdown-home a:hover {
  background-color: #f1f1f1;
  border-radius: 0.5rem;
}
@keyframes submenu {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
.dropdown-home a:hover {
  color: var(--primary-color);
  font-weight: 600;
  margin-left: 1rem;
  
}

.submenu:hover .navbar-arrow {
  transform: rotate(225deg);
  top: 47%;
}

.navbar__item--details{
    z-index: 999;
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    position: fixed;
}

.list__items{
    background-position: transparent;
}

.item-nav{
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.navbar__nav--list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--dark-color);
}

.navbar-logo img{
    size: 3px;
    margin: 0px;
}
 

.navbar-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--light-color);
    align-items: center;
}

.navbar__wallet{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navbar a {
  float: left;
  font-size: var(--font-size-md);
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item-link {
    width: 90px;
    padding: 1rem;
    position: relative;
    color: var(--light-color);
}

.item--details{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.item-header{
  background-image: url(./../../images/header/bg.jpg);
   background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


.item--details p{
    color: gray;
}

.item--details span{
    color: var(--light-color);
}

.navbar__switch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar {
  display: none;
}

@media (max-width: 800px) {
  .bar {
    display: block;
  }
  .nav-lists {
    display: none;
  }
  .navbar-logo img{
    size: 1.5px;
  }
}
