#header{
    min-height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: transparent;
}

/*-----------------------navbar-----------------------*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.nav-lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.nav-list {
    margin: 2rem;
    
}
.nav-link {
    color: var(--light-color);
    font-weight: 700;
}
/* .fa-angle-down  {
    margin-left: 0.2rem;
} */
.submenu {
  position: relative;
  display: inline-block;
  
}
.dropdown-home {
  display: none;
  position: absolute;
  min-width: 18rem;
  z-index: 1;
  background-color: var(--light-color);
  border-radius: 0.5rem;
  margin-top: 1rem;
  
}
.dropdown-home a {
  padding: 1.5rem 1.6rem;
  display: block;
  color: var(--dark-color);
  font-weight: 500;
  transition: all 0.3s ease;
  
}
.submenu:hover .dropdown-home {
  display: block;
  animation: submenu 1s ease 0s 1 normal forwards;
  
  
}

.dropdown-home li:hover {
  background-color: #f1f1f1;
  border-radius: 0.5rem;
}
@keyframes submenu {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
.dropdown-home a:hover {
  color: var(--primary-color);
  font-weight: 600;
  margin-left: 1rem;
  
}

.submenu:hover .navbar-arrow {
  transform: rotate(225deg);
  top: 47%;
}

.fa-walle{
    background: transparent;
}

.navbar__item--details{
    background-image: url(./../../images/header/bg.jpg);
    z-index: 999;
    color: var(--light-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.list__items{
    background-position: transparent;
}

.item-nav{
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.navbar--wrapper{
    position: fixed;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom-color: var(--light-color);
    color: var(--light-color);
    border-bottom-style:double;
    z-index: 999;
}

.navbar__nav--list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--dark-color);
}

.navbar-logo img{
    size: 3px;
    margin: 0 50px;
}
 

.navbar-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--light-color);
    align-items: center;
}

.navbar__wallet{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-navbar{
    color: var(--light-color);
    border-radius: var(--border-radius-3xl);
    border: none;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
}

.navbar__switch{
    margin-right: 50px;
}

.navbar a {
  float: left;
  font-size: var(--font-size-md);
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item-link {
    width: 90px;
    padding: 1rem;
    position: relative;
    color: var(--light-color);
}

.item--details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.item--details p{
    color: gray;
}

.item--details span{
    color: var(--light-color);
}
