#popular-cal{
    min-height: 30vh;
    position: relative;
}

.popular-wrapper{
    padding: 0px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: space-around;
}

.popular-box{
    margin: 10px 20px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-color);
    align-items: center;
    border-radius: var(--border-radius-lg);
}

.popular-box h3{
    color: var(--light-color);
    top: -8px;
}

span{
    font-size: var(--font-size-xl);
    color: grey;
}

.fa-heart{
    font-size: var(--font-size-md);
    color: var(--light-color);
    background-color: var(--dark-color);
}

.fa-heart:hover{
    color: red;
}


.popular-box:hover{
    transition: all 0.3s ease-in-out;
    box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
    -webkit-box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
    transform: translateY(-2rem);
}

.contact-popular{
    display: flex;
    flex-direction: row;
}

.contact-popular-left-profile img{
    height: 40px;
    width: 40px;
    border-radius: var(--border-radius-md);
    z-index: 1;
}

.contact-popular-left-profile{
    margin-left: -40px;
    display: flex;
    flex-direction: row;
}

.fa-check{
    font-size: var(--font-size-md);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    background-color: var(--primary-color);
    border-radius: var(--border-radius-lg);
    width:15px;
    height: 15px;
    z-index: 2;
}

.check{
    position: relative;
    right: 10px;
    display: flex;
    align-items: flex-end;
}

.image-popular{
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
}

.image-popular img{
    height: 100px;
    border-radius: var(--border-radius-md);
    margin: 5px 5px;
}

.link{
    text-decoration-line: underline;
    text-decoration-color: var(--accent-color);
}

.popular-header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 30px 50px;
}

.image-popular-top{
    display: flex;
    flex-direction: row;
    height: 50%;
}

.image-popular-bottom{
    height: 50%;
    display: flex;
    flex-direction: row;
}

.image-popular-top img{
    width: 125px;
}

.image-popular-bottom img{
    width: 30%;
}

.contact-popular-left-header h3{
    font-size: var(--font-size-md);
}

.contact-popular-left{
    display: flex;
    flex-direction: row;
}

.contact-popular-left-header{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 6.5px;
}