#process{
    min-height: 20vh;
}

.proces__row{
    display: flex;
    flex-direction: row;
}

.process-wrapper{
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.process-box{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-lg);
}

.process-box i{
    padding: 1.5rem;
    border-radius: var(--border-radius-md);
    margin-bottom: 2rem;
    color: var(--light-color);
}

.process-box h3{
    font-size: var(--font-size-2xl);
    font-weight: 600;
    color: var(--light-color);
    margin-bottom: 1.5rem;
}

.process-box p{
    font-size: var(--font-size-lg);
    text-align: center;
    font-weight: 400;
    color: var(--light-color);
    margin-bottom: 1.5rem;
}

i.fa-wallet{
    background-color: #5465ff;
}

i.fa-windows{
    background-color: #55a630;
}

i.fa-image{
    background-color: #9667e0;
}

i.fa-bookmark{
    background-color: #f2545b;
}

.process-box:hover{
    transition: all 0.3s ease-in-out;
    box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
    -webkit-box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
    transform: translateY(-2rem);
}

.social-links{
    display: flex;
    flex-direction: column;
}

.social{
    background-color: var(--secondary-color);
    margin: 2px 0px;
    width: 29px;
    height: 29px;
    border-radius: var(--border-radius-md);
}