#profile{
    margin-top: 310px;
}

.profile__wrapper{
    display: grid;
    display: grid;
  grid-template-columns: 300px auto;
  gap: 8rem;


    @media screen and (max-width: 1100px) {
        grid-template-columns: 250px auto;
        gap: 3rem;
      }
      @media screen and (max-width: 650px) {
        grid-template-columns: 1fr;
      }
}

.profile__wrapper--card{
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    height: 420px;
    border-radius: var(--border-radius-md);
}

.profile__wrapper--card-btns{
    height: 50px;
    display: flex;
    flex-direction: column;
}

.profile__wrapper--card img{
    border-radius: var(--border-radius-md);
    width: 100%;
}

.profile__wrapper--card button{
    background-color: var(--secondary-color);
    margin-top: 15px;
    width: 100%;
    margin-left: 0px;
}

.profile__wrapper--card button:hover{
    background-color: var(--dark-color);
}


.profile__wrapper--details{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}

.profile__files--grid{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px,1fr));
    grid-gap: 30px;
    min-height: 100px;
}

.profile__files--grid button{
    width: auto;
}

.profile__grid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
}

.profile__grid img{
    border-radius: var(--border-radius-lg);
    border-color: var(--light-color);
    border-style: solid;
    height: 100px;
    width: 200px;
}
.profile-upload{
    border-radius: var(--border-radius-lg);
    border-color: var(--light-color);
    border-style: solid;
}

.profile__details--info{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.profile__details--info button{
    width: auto;
}

.profile__info--socialmedia{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.profile__social{
    display: flex;
    flex-direction: column;
}

.profile__account p{
    margin-top: 15px;
}

.profile__social p{
    margin-top: 15px;
}

.profile__social button{
    margin-top: 10px;
    width: 170px;
    border: none;
}

.textarea{
    height: 95px;
}