#top-seller{
    min-height: auto;
}

.top-seller-header{
    margin: 30px 50px;
}

.top-seller-wrapper{
    margin: 0px 0px 0px 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 1em;
}

.contact-top-seller{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-lg);
}

.contact-top-seller-profile img{
    height: 70px;
    width: 70px;
    border-radius: var(--border-radius-md);
    z-index: 1;
}

.contact-top-seller-profile{
    display: flex;
    flex-direction: row;
}
.contact-top-seller-header h3{
    font-size: 1.5rem;
}

.contact-top-seller{
    display: flex;
    flex-direction: row;
}

.contact-top-seller-header{
    display: flex;
    flex-direction: column;
}

.contact-top-seller-header sub{
    color: grey;
}
