#footer{
    min-height: 45vh;
    position: relative;
    top: 100px;
    background-color: black;
    transition: all 0.3s ease-in-out;
    box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
    -webkit-box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
    transform: translateY(-2rem);   
}

.footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 40px;
}

.footer-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
}

.ul-footer-grid li{
    margin-top: 15px;
    color: gray;
    font-size: small;
}

.first{
    width: 20%;
    position: relative;
}

.second{
    display: flex;
    flex-direction: row;
    position: relative;
    right: -5.5rem;
    width: 50%;
    margin-top: 65px;
}

.third{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 65px;

}

.third h3{
    position: relative;
    right: 10.5rem;
}

.social-links{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 4rem;
}

.send{
    background-color: var(--primary-color);
    height: 5rem;
    width: 5rem;
    position: relative;
    left: -5rem;
    border-radius: 1rem;
}

.social{
    background-color: var(--secondary-color);
    margin: 30px 5px;
    width: 29px;
    height: 29px;
    border-radius: 1rem;
}

.input{
    background-color: black;
    border-color: var(--secondary-color);
    border-radius: 1rem;
    width: 30rem;
    height: 5rem;
}

.footer-grid-input{
    display: flex;
    flex-direction: row;
    border-color: gray;
    border-radius: 1rem;
    margin-top: 20px;

}

.ul-footer-grid{
    display: flex;
    flex-direction: column;    
    width: 33%;
    justify-content: center;
}

.footer-grid p{
    display: flex;
    text-align: start;
    font-size: small;
    color: gray;
}

.footer-logo img{
    display: flex;
    size: 4px;
    position: relative;
    left: -50px;
}

.btn-navbar img{
    height: 15px;
    width: 15px;
}

.ul-footer-grid li:hover{
    color: var(--accent-color);
}