@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap');

*,

*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    -webkit-box-sizing: border-box;
}

:root{
    --primary-color: #5465ff;
    --dark-color: #0c121a;
    --accent-color: #9667e0;
    --light-color: aliceblue;
    --secondary-color: #363946;
}
i{
    padding: 0 6px;
}

/* px , rem , em , pt , percent */
html{
    font-size: 62.5%;
    font-family: "Poppins", "Segoe UI", "Open Sans", "Poppins", "Roboto", Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
    color: var(--light-color);
}

body{
    font-size: 1.5rem;
    background: var(--dark-color);
}

button{
    cursor: pointer;
    font-family: inherit;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 0 1rem ;
}

.btn{
    font-family: inherit;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    outline: 0;
    box-sizing: none;
    border: solid;
    border-color: var(--primary-color);
    transition: all .3s ease;
    -webkit-transition: all 0.5s ease;
    background-color: var(--light-color);
    box-shadow: inset 1 1 0.2rem var(--primary-color);
}


/* BEM */   

.btn-primary{
    background-color: var(--dark-color);
    color:  var(--light-color);
}

.btn-primary:hover{
    background-color: transparent;
    color: var(--light-color);
    background-color: var(--primary-color);
    box-shadow: inset 0 0 0.2rem var(--primary-color);
}