#popular-cal{
    min-height: 30vh;
    position: relative;
    top: 120px;
}

.popular-wrapper{
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.popular-box{
    margin: 10px 30px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-color);
    align-items: center;
    border-radius: 1.5rem;
}

.popular-box h3{
    color: var(--light-color);
    top: -8px;
}

span{
    font-size: 1.5rem;
    color: grey;
}

.fa-heart{
    font-size: smaller;
    color: var(--light-color);
    background-color: var(--dark-color);
}

.fa-heart:hover{
    color: red;
}

.btn-like{
    margin-right: -40px;
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: var(--dark-color);
    border: none;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 13px;
}

.btn-like:hover{
    background-color: var(--dark-color);
}


.popular-box:hover{
    transition: all 0.1s ease-in-out;
    box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
    -webkit-box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
    transform: translateY(-2rem);
}

.contact-popular{
    display: flex;
    flex-direction: row;
}

.contact-popular-left-profile img{
    height: 40px;
    width: 40px;
    border-radius: 1rem;
    z-index: 1;
}

.contact-popular-left-profile{
    margin-left: -40px;
    display: flex;
    flex-direction: row;
}

.fa-check{
    font-size: smaller;
    position: relative;
    top: 30px;
    align-items: center;
    justify-content: center;
    left: -10px;
    color: var(--light-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 2;
}

.image-popular{
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
}

.image-popular img{
    height: 100px;
    border-radius: 1rem;
    margin: 5px 5px;
}

.link{
    text-decoration-line: underline;
    text-decoration-color: var(--accent-color);
}

.popular-header{
    margin: 30px 0px 30px 50px;
    display: flex;    
    flex-direction: row;
}

.image-popular-top{
    display: flex;
    flex-direction: row;
    height: 50%;
}

.image-popular-bottom{
    height: 50%;
    display: flex;
    flex-direction: row;
}

.image-popular-top img{
    width: 125px;
}

.image-popular-bottom img{
    width: 30%;
}

.contact-popular-left-header h3{
    font-size: 0.9rem;
}

.contact-popular-left{
    position: relative;
    left: -20px;
    display: flex;
    flex-direction: row;
}

.contact-popular-left-header{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 6.5px;
}